doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Enterprise | Frontend Task
    meta(name="description", content="Enterprise | Frontend Task")
    meta(name="keywords", content="Enterprise landing page Enterprise magazine frontend task")
    meta(name="author", content="MEAN Stack Developer: Kareem Mostafa")
    // Special Fonts
    link(href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap", rel="stylesheet")
    // Link to Bootstrap CSS
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet")
    // Link to your custom stylesheet
    link(rel="stylesheet", href="assets/styles/style.css")
    // For Owl carusal
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")
    // Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap")
  body
    // including header
    include ../components/header
    // Main Page Content
    main
      block content
    // including footer
    include ../components/footer
    // Link to jQuery
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    // Bootstrap
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js", integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js", integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+", crossorigin="anonymous")
    // For owl carusal
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
    // Link to your custom JavaScript file
    script(src="assets/scripts/script.js")
